/* .container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
} */

*{
    border: 0;
    padding: 0;
    margin:0;
}

div{ 
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Reenie Beanie', cursive;
    width: 100%;
    height: 100vh;
}

#selfphoto
{margin-left:10%;
}

h1{ color:#ffa7a7;
    font-size: 130px;
    text-align:left;
    padding-left:10px;
  }
  


h2 {
    font-size: 60px;
    color:#ffa7a7;
    padding: 8px 24px;
    border-radius: 16px;
}

h3{
    color:white;
}

.welcome {
    color:black;
    font-size: 9em;
}

.projectstitle{
    color:white;
    font-size: 9em;
}

.projectsparagraph{
    font-family: 'Gentium Book Basic', serif;
    font-size: 1.5em;
    color:white;
    padding-left:-10px;
}

.slide{
    justify-content: left;
}

/* Active applies to nav bar */
.active {
   color: white; 
   font-size: 2em;
   text-decoration:none;
   padding-left: 10px;
   background-color: transparent;
   justify-content: right;
   text-align: right;
   
   
}

.photographer {
    color:white;
}

#topnav {
    background: transparent;
    color:white;
    margin-top:40px;
    justify-content: right;
    text-align: right;
}

/* a{
text-decoration:none;
border-bottom:0px solid white;
transition: all 0.25s ease-in-out 0s;
} */

a:hover{
color:#FFE58B;
transition: all 0.25s ease-in-out 0s;
}



p{  font-family: 'Karma', serif;
    font-size:14px;
    padding-left:30px;
    padding-right:50px;
    color:white;
}


div:nth-child(1){
    height: 5%;
    padding-top:1%;
    position: static;
    background:#141C1E;
    justify-content:left;
    padding-left:9px;
    margin-bottom:-4.5%
}

div:nth-child(2){
    background:white;
    height:6%;
}

div:nth-child(3){
    height: 600px;
    background-image: url(./_DSC0635.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: left;
    
}

div:nth-child(4) {
    background:#141C1E;
}

div:nth-child(5){
    height: 300px;
    background-image: url(./IMG_4069.JPG);
    background-size:cover;
    background-attachment: fixed;
}

div:nth-child(6) {
    height:500px;
    background: #141C1E;
}

div:nth-child(7) {
    height:20%;
    background: white;
}

div:nth-child(8) {
    height:20%;
    background: #141C1E;
}